body {
    background-color: #eeeeee;
    padding: 24px;
    font-size: 16px;
}

.container {
    background-color: #ffffff;
    padding: 48px;
    margin-top: 48px;
    border-radius: 4px;
}

ul {
    list-style: none;
}

.listTitle {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 0.33rem;
    text-transform: uppercase;
    text-align: center;
    color: #007BEF;
}

.list-group {
    margin: 48px auto 32px;
}

/*.list-group-item {
    cursor: move;
    cursor: -webkit-grabbing;
}*/

.my-handle {
    color: #64B5F6;
    cursor: move;
    cursor: -webkit-grabbing;
    margin-right: 24px;
}

.my-handle:hover {
    color: #1E88E5;
}


.close {
    color: #ef9a9a;
}

.close:hover {
    color: #ef5350;
}

/* ghostClass */
.ghost {
    opacity: .5;
    background: #C8EBFB;
}

.form-group {
    margin-top: 32px;
}

/* ----------- Phone Responsiveness ----------- */
@media only screen and (max-width: 568px) {
    .container {
        padding: 16px;
        margin-top: 16px;
    }
    
    .listTitle {
        font-size: 1.5em;
    }
    
    .list-group {
        margin: 16px auto;
    }
    
    .form-group {
        margin-top: 16px;
    }
}
